body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.nav {
    display: flex;
    flex: 1;
    height: 15vh;
    justify-content: space-around;
    background-color: #1f2937;
    color: #f9faf8;
}

.nav > p {
    color: #f9faf8;
    font-size: 24px;
}

.header-links {
    list-style-type: none;
    align-self: center;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.header {
    display: flex;
    flex: 1;
    background-color: #1f2937;
    padding: 5vh 16vw;
    justify-content: space-around;
    align-items: center;
    gap: 5em;
}

#header-primary-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

#header-subtext {
    color: #e5e7eb;
    font-size: 18px;
}

#header-cta-btn {
    background-color: #3882f6;
    padding: 8px;
    border-radius: 0.5em;
    font-style: bold;
    width: 5em;
    text-align: center;
    color: #f9faf8;
}

.card-info-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.card-info-container > p {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.card-container {
    display: flex;
    flex: 1;
    gap: 32px;
    flex-wrap: wrap;
}

.card > img {
    border-color: #3882f6;
    border-style: solid;
    border-radius: 1em;
    border-width: 0.5em;
}
.testimony-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 5vh 16vw;
    align-items: center;
    justify-content: center;
}

#testimony-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

#testimony-credit {
    font-weight: bolder;
    align-self: flex-end;
}
.cta-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 48px 0;
}

.cta-inner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    font-weight: 500;
    border-radius: 0.5em;
    width: 75%;
}

.cta-text-container {
    color: #f9faf8;
}

#main-cta-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}
#sub-cta-text {
    font-size: 16px;
    font-style: italic;
    margin-top: 0;
}

#main-cta-btn {
    background-color: #3882f6;
    padding: 8px;
    border-color: #f9faf8;
    border-width: 2px;
    border-style: solid;
    border-radius: 0.5em;
    font-style: bold;
    color: #f9faf8;
}

.footer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
}
